:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
  --slate-blue: #546e7aff;
}

html {
  font-size: 16px;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-color: #fafafa; */
}

#tooltip {
  color: #fff;
  padding: 3px 5px;
  background-color: var(--charcoal);
  opacity: 0.8;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#popup {
  position: fixed;
  width: 100%;
  background-color: var(--burnt-sienna);
  color: #fff;
  padding: 4px 20px;
  padding-bottom: 6px;
  text-align: center;
  font-size: 0.89rem;
  font-weight: 450;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
select {
  padding: 8px 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 0.8rem;
}

textarea {
  resize: none;
  height: 100px;
}

input:focus,
textarea:focus {
  border-color: #000;
  outline: none;
  box-shadow: 0 0 0 2px var(--saffron);
}

button {
  background-color: var(--persian-green);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

button:hover {
  background-color: var(--charcoal);
  transition: background-color 0.3s;
}

.material-icons {
  cursor: pointer;
  color: var(--persian-green);
  font-size: 32px;
}


nav {
  background-color: var(--charcoal);
  display: flex;
  justify-content: space-between;
  padding: 8px 10vw;
  margin: 0;
  margin-bottom: 20px;
  font-size: 0.9rem;
  align-items: center;
}

#nav-left,
#nav-right {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 0 10px;
}

nav>li:last-child {
  margin: 0;
}

nav li a {
  color: #ccc;
  font-weight: 600;
  text-decoration: none;
}

nav li a:hover {
  color: #fff;
}

nav .avatar img {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  border: 3px solid var(--charcoal);

}

nav .avatar img:hover {
  border-color: var(--sandy-brown);
}


#menu-home a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}

footer {
  background-color: var(--charcoal);
  color: #fff;
  font-weight: 500;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-size: 1rem;
  color: var(--sandy-brown);
  margin: 0 10px;
  text-decoration: none;
  border-bottom: 1px solid var(--charcoal);

}

footer a:hover {
  border-color: #fff;
}


/*
  ------
  --- HOME PAGE CSS --->
  ------
*/

#content {
  flex-grow: 1;
  display: flex;
  padding: 0 10vw;
}

#main {
  flex-grow: 1;
  padding-right: 20px;
}

#sidebar {
  min-width: 300px;
  max-width: 300px;
  padding-left: 20px;
}

#sort-by {
  font-size: 0.75rem;
}

#tab-list {
  display: flex;
  padding: 0;
  margin-bottom: 20px;
}

.tab {
  flex-grow: 1;
  font-size: 0.88rem;
  border-radius: 0;
  padding: 9px;
  margin-top: 5px;
}

.tab:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tab:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tab.selected {
  font-weight: 600;
  background-color: var(--charcoal);
  margin: 2px;
}

#project-search-section {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
}

#project-search-section>* {
  margin-right: 15px;
}

#project-search-section .selected {
  color: var(--charcoal);
}

#organization-only {
  margin-right: 0px;
}

#project-search {
  flex: 1;
}


#project-list {
  margin-bottom: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-left: 5px solid #2a9d8f;
}

.project-card>* {
  margin-bottom: 10px;
  padding-right: 20px;
}

.project-title {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 5px;
}

.project-description {
  font-size: 0.85rem;
  text-align: justify;
  color: #444;
}

.span-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.project-tag-list,
.project-language-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.span-list li {
  margin-right: 4px;
  margin-top: 8px;
}

.clickable-span {
  cursor: pointer;
  font-size: 0.7rem;
  font-weight: 500;
  color: #444;
  background-color: var(--saffron);
  padding: 4px 8px;
  border-radius: 3px;
}



.clickable-span:hover {
  color: #000;
  transition: background-color 0.3s;
}

.project-title {
  color: purple;
}

.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: 10px;
}

.project-meta,
.project-action {
  display: flex;
  align-items: center;
}

.project-meta {
  font-style: italic;
  font-weight: 500;
  color: #444;
}

.project-date,
.project-bookmark-count {
  font-size: 0.75rem;
}

.project-date {
  margin-right: 15px;
}

.project-toggle-bookmark {
  color: var(--persian-green);
  margin-right: 15px;
}

.project-delete {
  color: var(--burnt-sienna);
}

.project-action .avatar {
  width: 25px;
  height: 25px;
  margin-left: 2px;
  margin-top: 2px;
  border: 3px solid var(--persian-green);
}

.project-action .avatar:hover {
  border-color: var(--burnt-sienna);
}

.side-card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
}

.side-card>* {
  margin-bottom: 10px;

}

.side-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 5px;
}

.search-selection-container {
  display: flex;
  flex-direction: column;
}

.span-list.selected,
.span-list.search-results {
  display: flex;
  flex-wrap: wrap;
}

.span-list.selected .clickable-span {
  background-color: var(--burnt-sienna) !important;
  color: #fff !important;
}

.project-language-list .clickable-span,
#languages .clickable-span {
  background-color: var(--sandy-brown);
}

#add-project-fbtn {
  position: fixed;
  bottom: 3vh;
  right: 10vw;
}

.floating-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: #fff;
}

.floating-btn:hover {
  background-color: #264653;
}


/* 
  ------
  --- LOGIN | REGISTER | ADD PROJECT PAGE CSS --->
  ------
*/
.common-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.common-main {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  text-align: center;
  margin-bottom: 20px;
}

#form-heading {
  color: var(--charcoal);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}

.common-main label {
  color: #546e7a;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 6px;
}

.common-form button[type="submit"] {
  margin-top: 30px;
  padding: 7px;
}


#form-footer {
  display: flex;
  justify-content: space-between;
}


.form-footer-link {
  margin-top: 15px;
  text-decoration: none;
  color: var(--slate-blue);
  font-size: 0.8rem;
  padding: 2px;
}


/* 
  ------
  --- REGISTER PAGE CSS --->
  ------
*/

#rp-main #form-footer {
  justify-content: center;
}

#rp-main #form-footer span {
  margin-top: 15px;
  text-decoration: none;
  color: #bdbdbd;
  font-size: 0.8rem;
  padding: 2px;
}

/* 
  ------
  --- ADD PROJECT PAGE CSS --->
  ------
*/

#app-content {
  justify-content: space-evenly;
}

#app-main {
  max-width: 500px;
  width: 70%;
  margin: 20px;
  padding: 50px 80px;
}


/* 
  ------
  --- USER PROFILE PAGE CSS --->
  ------
*/

#upp-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  padding: 0 10vw;
}

#upp-side {
  min-width: 300px;
  max-width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#upp-main {
  flex-grow: 1;
  margin-left: 20px;
}

#upp-main #project-search-section {
  margin-bottom: 25px;
}

#user-profile-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#user-data {
  display: flex;
  margin-bottom: 20px;
}

#user-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#upp-content #user-avatar {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#user-name,
#user-email {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--slate-blue);
  text-align: left;
  overflow-wrap: anywhere;
}

#user-name {
  font-size: 1.2rem;
  color: #000;
}

#user-email {
  display: inline-block;
}

.user-btn {
  width: 100%;
  margin-top: 2px;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: 600;
}

#upp-about {
  padding: 20px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#upp-about-title {
  font-size: 1.3rem;
  font-weight: bold;
}

#upp-about-textarea,
#user-update-btn {
  display: none;
}

#upp-about-textarea {
  width: 200px;
  margin: 20px 0;
}

#upp-about-text {
  font-size: 0.85rem;
  text-align: justify;
  color: #222;
}

/* 
  ------
  --- FORGOT PASSWORD PAGE CSS --->
  ------
*/

.form.message {
  background-color: #ffffe0;
  padding: 15px;
  /* box-shadow: 0 0 3px var(--burnt-sienna); */
  border: 1px solid var(--saffron);
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: left;
  color: #444;
  margin-top: 20px;
}